<template>
  <CFooter :fixed="false">
    <div>
      
      <span class="ml-1">&copy; {{new Date().getFullYear()}} conic \skill.</span>
    </div>
    <div class="ml-auto">
      <span class="mr-1">Powered by</span>
      <a href="https://cprep.in" target="_blank">cprep</a>
    </div>
  </CFooter>
</template>

<script>
export default {
  name: 'TheFooter'
}
</script>
