<template>
  <div>
    <CRow class="pb-4 pl-2">
      <CCol>
        <!--CAlert
          :color="alertColor"
          :show.sync="currentAlertCounter"
          closeButton
        >
          {{ message }}
          <CProgress
            :max="10"
            :value="currentAlertCounter"
            height="3px"
            :color="alertColor"
            animate
          /> </CAlert
      -->
        <CToaster :autohide="1500" position="top-center">
          <template v-for="toast in fixedToasts">
            <CToast :key="'toast' + toast" :show="true">
              {{ message }}
            </CToast>
          </template>
        </CToaster>
      </CCol>
      <CForm wasValidated @submit.prevent="addTestPaper()">
        <h1 class="text-center">Add Test Paper</h1>
        <p class="text-muted text-center">
          Kindly verify all details before submitting
          <CLink href="/files/SampleTest.xlsx" download>
            Download sample file
          </CLink>
        </p>
        <CRow align-vertical="center">
          <CCol sm="10" lg="4">
            <CInput
              label="Test Paper name"
              v-model="testName"
              required
              placeholder="Enter Test name"
            />
          </CCol>
          <CCol sm="10" lg="4">
            <CInput
              label="Test Paper duration"
              required
              number
              v-model="testDuration"
              placeholder="Enter Test Duration"
            />
          </CCol>

          <CCol sm="10" lg="4">
            <CSelect
              label="Skill"
              required
              v-model="skill"
              placeholder="Select Skill"
              :options="skillList"
            />
          </CCol>
          <CCol sm="10" lg="4">
            <CSelect
              label="Test Type"
              required
              v-model="testType"
              placeholder="Test Paper Type"
              :options="[
                { value: '10', label: 'Candidate Test' },
                { value: '11', label: 'Assessor Test' },
              ]"
            />
          </CCol>

          <CCol sm="10" lg="4">
            <CInputFile
              required
              label="Test Paper"
              @change="handleFileUpload($event, 'testPaper')"
              placeholder="Upload Excel"
              accept=".csv,.xlsx"
            />
          </CCol>
        </CRow>

        <CRow>
          <CCol col="12" class="text-center">
            <CButton type="submit" :disabled="disabled" color="success"
              >Add Test</CButton
            >
          </CCol>
        </CRow>
      </CForm>
    </CRow>
  </div>
</template>

<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";

export default {
  name: "Add Test",
  mixins: [ajaxCallMixin, localDb],

  data() {
    return {
      disabled: false,
      test: {},
      testType: {},
      skill: {},
      fields: {},
      testDuration: 60,
      testName: "",
      fixedToasts: 0,
      skillList: [],
      message: "",
      alertColor: "info",
    };
  },
  computed: {
    token: function () {
      return this.getToken();
    },
  },
  methods: {
    addTestPaper() {
      this.disabled = true;
      var param = {};
      var data = {};
      data.skillId = this.getSelectedValues(this.skill);
      data.testName = this.testName;
      data.testType = this.getSelectedValues(this.testType);
      data.testDuration = this.testDuration;
      var url = "qbank/qbank/uploadNsdcPaperExcel";
      param.data = data;
      param.token = this.token;
      this.ajaxCall(url, param, this.callBackAddTestPaper, this.fields);
    },
    callBackAddTestPaper(apiResponse) {
      this.fixedToasts++;
      this.message = apiResponse.message;
      this.disabled = false;
    },
    getAddEventDropDown() {
      var param = {};
      var eventId = this.$route.params.eventId;
      var url = "event/event/getAddEventDropDown";
      param.data = {};
      param.token = this.token;
      this.ajaxCall(url, param, this.populateList);
    },
    populateList(apiResponse) {
      if (apiResponse.error != true) {
        this.skillList = this.changeMapToSelect(apiResponse.data.skillList);
      }
    },
  },
  beforeMount() {
    this.getAddEventDropDown();
  },
};
</script>>