<template>
  <div>
    <CRow class="pb-4 pl-2">
        <CCol class="b-1">
        <!--CAlert
      color="success"
      :show.sync="currentAlertCounter"
      closeButton
    >{{message}}
      <CProgress
        :max="10"
        :value="currentAlertCounter"
        height="3px"
        color="success"
        animate
      />
    </CAlert-->
    <CToaster :autohide="1500" position="top-center">
      <template v-for="toast in fixedToasts">
        <CToast
          :key="'toast' + toast"
          :show="true">
        {{message}}
        </CToast>
      </template>
    </CToaster>
      </CCol>
      <CForm   @submit.prevent ="addAssessor"  >
        <h1 class="text-center" v-if = "!isEdit" >Add Assessor</h1>
        <h1 class="text-center" v-else>Edit Assessor</h1>
        <p class="text-muted text-center">Kindly verify all details before submitting</p>
        <CRow>
          <CCol sm="10" lg="4">
            <CInput 
            required label="Assessor Name" v-model="assessorName" placeholder="Enter Assessor name" />
          </CCol>

          <CCol sm="10" lg="4">
            <CInput 
            required 
            label="Phone" type="tel"
            v-model="phone" 
            pattern="[0-9]{10}" 
            placeholder="Enter Phone number" />
          </CCol>

          <CCol sm="10" lg="4">
            <CInput 
            required label="Email" 
            type="email" v-model="email" placeholder="Enter email" />
          </CCol>
          <CCol sm="10" lg="4">
            <CSelect
            required 
              label="Gender"
              :value.sync="gender"
              placeholder="Select gender"
              :options="[ { value: 'male', label: 'male' }, { value: 'female', label: 'female' } ]"
            />
          </CCol>
          <CCol sm="10" lg="4">
            <CInput
            required 
              label="DOB"
              v-model="dob"
              placeholder="Enter Date of birth"
              type="date"
              format="Y-m-d"
            />
          </CCol>

          <CCol sm="10" lg="4">
            <CInput required 
            label="Adhaar" v-model="adhaar" placeholder="Enter Adhaar" />
          </CCol>
          <CCol sm="10" lg="4">
            <!--CInput 
            required label="City" v-model="city" placeholder="Enter City" /-->
            <label>City</label>
            <model-select :options="cityList" :is-disabled="disabled" v-model="city" placeholder="Select City"></model-select>
          </CCol>
          <CCol sm="10" lg="4">
            <!--CInput 
            required label="State" v-model="state" placeholder="Enter State" /-->
             <label>State</label>
            <model-select :options="stateList" v-model="state" placeholder="Select State" @input="getCityListDropDown"></model-select>
          </CCol>

          <CCol sm="10" lg="4">
            <CInput required 
            label="Address" v-model="address" placeholder="Enter Address" />
          </CCol>
          <CCol sm="10" lg="4">
            <CInput
            required 
              label="Highest Qualification"
              v-model="highestQualification"
              placeholder="Enter Highest Qualification"
            />
          </CCol>
          <CCol sm="10" lg="4">
            <CInput
            required 
              label="Years of Experience"
              v-model="experience"
              type="number"
              placeholder="Enter Experience in years"
            />
          </CCol>

          <CCol sm="10" lg="4">
            <CInput 
            required label="sdms Username" v-model="sdmsUsername" placeholder="Enter sdms username" />
          </CCol>

          <CCol sm="10" lg="4">
            <CInput required label="sdms Password" v-model="sdmsPassword" placeholder="Enter sdms password" />
          </CCol>

          <CCol sm="10" lg="4">
            <!--CSelect
            ref="skillSelect"
              label="Skill"
              multiple="true"
              :options="skillList"
              v-model="skill" /-->
            <label>Skill</label>
            <select v-model="skill" multiple class="form-control">
              <template v-for="(option,key) in skillList">
                <option :key=key :value="option.value">{{option.label}}</option>
              </template>
            </select>
          </CCol>
          
          <CCol sm="10" lg="4">
            <CInputFile
              label="Profile Pic"
              ref="file"
              @change="handleFileUpload($event,'profilePic');showUploadedImage($event);"
              placeholder="Upload File"
            />
            <CButton
              :disabled="!isUploaded"
              @click="pictureModal = true"
              color="primary">
              View Uploaded Picture
            </CButton>
            <CModal
              title="Profile Picture"
              :show.sync="pictureModal">
              <img :src="profilePic"/>
            </CModal>
          </CCol>
        </CRow>

        <CRow>
          <CCol col="12" class="text-center">
            <CButton type="submit" color="success custom-btn" v-if="!isEdit">Add Assessor</CButton>
            <CButton type="submit" color="success custom-btn" v-else>Save Changes</CButton>
          </CCol>
        </CRow>
      </CForm>
    </CRow>
  </div>
</template>

<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";
import { ModelSelect } from 'vue-search-select';
export default {
  name: "AddAssessor",
  mixins: [ajaxCallMixin, localDb],
  components:{
    ModelSelect,
  },
  data() {
    return {
      assessorId: 0,
      assessorName: "",
      phone:"",
      email:"",
      dob:"",
      address:"",
      adhaar:"",
      city:"",
      state:"",
      highestQualification:"",
      sdmsUsername:"",
      sdmsPassword:"",
      experience:"",
      fields: {},
      assessor: {},
      profilePic: "",
      skill:[],
      gender:"",
      message:"",
      skillList:[],
      cityList:[],
      stateList:[],
      disabled:true,
      pictureModal:false,
      isUploaded:false,
      fixedToasts:0
    };
  },
  computed: {
    token: function() {
      return this.getToken();
    },
    isEdit:function(){
      if(this.$route.params.assessorId){
        this.getCityListDropDown();
        this.disabled=false;
        this.isUploaded=true;
        return true;
      }
      Object.assign(this.$data, this.$options.data());
      this.getAddAssessorDropDown();
      this.getStateListDropDown();
      return false;
    }
  },
  methods: {
    addAssessor() {
      var param = {};
      var data = {};
      var assessorId = this.$route.params.assessorId;
      data.assessorName = this.assessorName;
      data.phone = this.phone;
      data.email = this.email;
      data.gender = this.gender;
      data.dob = this.dob;
      data.adhaar = this.adhaar ;
      data.city = this.city ;
      data.state = this.state ;
      data.address = this.address ;
      data.highestQualification = this.highestQualification;
      data.experience = this.experience;
      data.sdmsUsername = this.sdmsUsername ;
      data.sdmsPassword = this.sdmsPassword ;
      data.skillId = this.skill;
      data.assessorId = assessorId;
      var url = "assessor/assessor/addEditAssessor";
      param.data = data;
      param.token = this.token;
      this.ajaxCall(url, param, this.callBackAddAssessor, this.fields);
    },
    callBackAddAssessor(apiResponse) {
      if(apiResponse.error != true){
      this.fixedToasts++;
      this.message = "Assessor has been added successfully";
      this.alertColor = "success";
      this.currentAlertCounter = 10;
      setTimeout(()=>{this.$router.push({name:"Assessor List"})},1500);
      }
    },
    getAddAssessorDropDown() {
      var param = {};
      this.assessorId = this.$route.params.assessorId;
      var url = "event/event/getAddEventDropDown";
      param.data = {};
      param.token = this.token;
      this.ajaxCall(url, param, this.populateList);
      
    },
    getStateListDropDown() {
      var param =  {};
      var url = "meta/state/getStateList";
      param.data = {};
      param.token = this.token;
      this.ajaxCall(url,param,this.populateStateList)
    },
    getCityListDropDown(){
      this.disabled = false;
      var param = {};
      var url = "meta/state/getCityList";
      param.data = {};
      param.data.stateId = parseInt(this.state);
      param.token = this.token
      console.log(param)
      this.ajaxCall(url,param,this.populateCityList)
    },
    getAssessorDetails(){
       var param = {};
       var data = {};
      data.assessorId = this.$route.params.assessorId;
      var url = "assessor/assessor/getAssessorDetails";
      param.data = data;
      param.token = this.token;
      this.ajaxCall(url, param, this.populateAssessorDetails);
    },
    populateList(apiResponse) {
      if (apiResponse.error != true) {
        this.skillList = this.changeMapToSelect(apiResponse.data.skillList);
     
      }
    },
    populateStateList(apiResponse){
      if(apiResponse.error != true){
        this.stateList = apiResponse.data.stateList.map((item)=>{
          return {value:item.stateId,text:item.state}
        });
      }
    },
    populateCityList(apiResponse){
      if(apiResponse.error != true){
        this.cityList = apiResponse.data.cityList.map((item)=>{
          return {value:item.cityId,text:item.city}
        });
      }
    },
    populateAssessorDetails: function(apiResponse){
      if (apiResponse.error != true) {
        var assessorDetails = apiResponse.data.assessorDetails;
        this.assessorName = assessorDetails.assessorName;
        this.phone = assessorDetails.phone;
        this.email = assessorDetails.email;
        this.gender = assessorDetails.gender;
        this.dob = assessorDetails.dob;
        this.adhaar = assessorDetails.adhaar;
        this.city = assessorDetails.city;
        this.state = assessorDetails.state;
        this.address = assessorDetails.address;
        this.highestQualification = assessorDetails.highestQualification;
        this.experience = assessorDetails.experience;
        this.sdmsUsername = assessorDetails.sdmsUsername;
        this.sdmsPassword = assessorDetails.sdmsPassword;
        this.profilePic = assessorDetails.profilePic;
        var assessorSkills = apiResponse.data.assessorSkills;
        var skill2 = Object.keys(assessorSkills);
        this.skill = skill2;
      }
    },
    changeMapToSelect(mapObject) {
      var selectList = [];
      for (let [key, value] of Object.entries(mapObject)) {
        selectList.push({ value: key, label: value });
      }
      return selectList;
    },
    showUploadedImage(e){
      this.isUploaded = true;
      this.profilePic = URL.createObjectURL(e[0])
    }
  },

  created() {
    this.getAddAssessorDropDown();
    this.getStateListDropDown();
  },
  mounted(){
       if(this.$route.params.assessorId){
        this.getAssessorDetails();
      }
      
  }
};
</script>

<style>
option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
.toast-body{
    background-color: #38b138;
    color: white;
    font-weight: 800
}
.custom-btn {
  margin-top:1rem;
}

</style>