<template>

  <div>
    <CRow>
      <CCol sm ="12">
        <template>
          <CCard>
    <CCardHeader>
      <slot name="header">
        <CIcon name="cil-grid"/> Assessor List
      </slot>
    </CCardHeader>
            <CDataTable
              :items="items "
              :fields="fields"
              column-filter
              :items-per-page="20"
              sorter
              hover
              bordered
              fixed
              pagination
              :cleaner="true"
            >
              <template #show_details="{item}">
                <td class="py-2">
                   <!--CButton
                color="primary"
                    variant="outline"
                    square
                    size="sm"
                    @click= editAssessor(item.assessorId)
                  > Edit
                </CButton-->
                <CLink @click= "editAssessor(item.assessorId)" color="primary">
                <CIcon
                v-c-tooltip="{content:'Click to Edit',
                  placement:'left'}"
                name="cilPencil"
                size="custom-size"
                :height="25"
                />
                </CLink>
                </td>
              </template>
            </CDataTable>
          </CCard>
        </template>
      </CCol>
    </CRow>
  </div>
</template>
  

<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";
const items = [{}];
const fields = [
  { key: "assessorName", _style: "width:20%" },
  { key: "email", _style: "width:20%" },
  { key: "phone", _style: "width:20%" },
  { key: "username", _style: "width:20%" },
  { key: "password", _style: "width:20%" },
  { key: "skillNames", _style: "width:20%" },
  
  {
    key: "show_details",
    label: "",
    _style: "width:1%",
    sorter: false,
    filter: false
  }
];
export default {
  name: "Assessor List",
  mixins: [ajaxCallMixin, localDb],
  beforeMount(){
    this.getAssessorList();
 },
  data() {
    return {
      items: items.map((item, id) => {
        return { ...item, id }
      }),
      fields,
      details: [],
      collapseDuration: 0
    };
  },
  methods: {

    generateAssessorList(apiResponse) {
      if (apiResponse.error != true) {
        var assessorList = apiResponse.data.assessorList;
        this.items = assessorList.map((item, id) => {
        return { ...item, id }
      })
      }
    },
    getAssessorList() {
      var param = {};
      var data = {  };
      data.limit = 0;
      var url = "assessor/assessor/getAssessorList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateAssessorList);
    },
    editAssessor(assessorId){
      this.$router.push("/assessor/"+assessorId);
    },
    toggleDetails(item) {
      this.$set(this.items[item.id], "_toggled", !item._toggled);
      this.collapseDuration = 300;
      this.$nextTick(() => {
        this.collapseDuration = 0;
      });
    }
  }
};
</script>