<template>
  <div>
    <CRow class="pb-4 pl-2">
      <CCol class="b-1">
        <!--CAlert :color="alertColor" :show.sync="currentAlertCounter" closeButton
          >{{ message }}
          <CProgress
            :max="10"
            :value="currentAlertCounter"
            height="3px"
            :color="alertColor"
            animate
          />
        </CAlert-->
        <CToaster :autohide="1500" position="top-center">
          <template v-for="toast in fixedToasts">
            <CToast :key="'toast' + toast" :show="true">
              {{ message }}
            </CToast>
          </template>
        </CToaster>
      </CCol>
      <CModal title="Choose another skill" size="sm" :show.sync="showModal">
        No tests available for this skill.
        <div slot="footer-wrapper"></div>
      </CModal>
      <CForm id="eventAdd" wasValidated @submit.prevent="addEvent">
        <CRow align-vertical="center">
          <CCol sm="4"></CCol>
          <CCol sm="4">
            <h1 class="text-center">
              {{ isEdit ? "Edit Event" : "Add Event" }}
            </h1>
          </CCol>
          <CCol sm="4" class="text-right">
            <CButton @click="settingsModal = true" size="sm"
              ><CIcon name="cil-settings" size="xl"></CIcon
            ></CButton>
          </CCol>
        </CRow>
        <p class="text-muted text-center">
          Kindly verify all details before submitting
          <CLink href="/files/SampleEventCandidate.xlsx" download>
            Download sample file
          </CLink>
        </p>
        <CRow>
          <CCol sm="10" lg="4">
            <CInput
              label="Event name"
              v-model="eventName"
              required
              invalid-feedback="Please provide Event Name"
              placeholder="Enter Event name"
            />
          </CCol>
          <CCol sm="10" lg="4">
            <CSelect
              label="Skill"
              required
              invalid-feedback="Please select skill"
              v-model="skill"
              placeholder="Select Skill"
              :options="skillList"
              @change="getTestList()"
            />
          </CCol>
          <CCol sm="10" lg="4">
            <CSelect
              v-model="tp"
              label="Training partner"
              required
              placeholder="Select Training partner"
              :options="tpList"
              @change="getCenterList()"
            />
          </CCol>
          <CCol sm="10" lg="4">
            <CSelect
              label="Center"
              :disabled="centerListDisabled"
              v-model="center"
              required
              placeholder=" Select Center"
              :options="centerList"
            />
          </CCol>
          <CCol sm="10" lg="4">
            <CSelect
              label="Scheme"
              v-model="scheme"
              required
              placeholder="Select scheme"
              :options="schemeList"
            />
          </CCol>
          <CCol sm="10" lg="4">
            <CSelect
              label="Assessors"
              v-model="assessor"
              required
              placeholder=" Select Assessor"
              :options="assessorList"
            />
          </CCol>
          <CCol sm="10" lg="4">
            <CSelect
              :disabled="testListDisabled"
              label="Candidate Test Paper"
              v-model="candidateTest"
              placeholder=" Select Test Paper"
              :options="candidateTestList"
            />
          </CCol>
          <CCol sm="10" lg="4">
            <CSelect
              label="Assessor Test Paper"
              :disabled="testListDisabled"
              v-model="assessorTest"
              placeholder=" Select Test Paper"
              :options="assessorTestList"
            />
          </CCol>
          <CCol sm="10" lg="4">
            <CInput
              label="Event Date"
              v-model="eventDate"
              placeholder="Enter Event date"
              type="date"
              required
              format="Y-m-d"
            />
          </CCol>
          <CCol sm="10" lg="4">
            <CSelect
              label="Cutoff"
              value.sync="cutoff"
              placeholder="Select cutoff"
              required
              :options="cutoffList"
            />
          </CCol>
          <CCol sm="10" lg="4">
            <CSelect
              label="State"
              v-model="state"
              placeholder="Enter State"
              required
              :options="stateList"
            />
            <!--label>State</label>
            <model-select
              :options="stateList"
              v-model="state"
              required
              placeholder="Select State"
            >
            </model-select-->
          </CCol>

          <CCol sm="10" lg="4">
            <CInputFile
              label="Candidate file"
              accept=".xlsx"
              @change="handleFileUpload($event, 'eventCandidate')"
              placeholder="Upload Excel"
            />
          </CCol>
        </CRow>

        <CRow>
          <CCol col="12" class="text-center">
            <CButton type="submit" :disabled="disabled" color="success">{{
              isEdit ? "Save changes" : "Add Event"
            }}</CButton>
          </CCol>
        </CRow>
      </CForm>
    </CRow>
    <CModal title="Advance Settings" :show.sync="settingsModal">
      <template v-for="(setting, idx) in advanceSettingList">
        <div :key="idx">
          <CCol col="8">
            <label :for="setting.label"
              ><b>{{ setting.label }}</b></label
            >
            <CInputRadioGroup
              :id="setting.label"
              :options="options"
              class="d-flex justify-content-between mb-2"
              :checked.sync="advanceSetting[setting.key]"
            />
          </CCol>
          <hr />
        </div>
      </template>
      <CCol col="8" class="d-flex justify-content-between">
        <label><b>End exam on leaving test window</b></label>
        <CSwitch
          color="info"
          shape="pill"
          size="sm"
          label-off="No"
          label-on="Yes"
          :checked.sync="offFocus"
        />
      </CCol>
      <CCol col="6">
        <CInput
          v-if="offFocus"
          v-model="advanceSetting.offFocusCount"
          type="Number"
          label="Enter off Focus count"
          min="1"
        />
      </CCol>
      <div slot="footer-wrapper"></div>
    </CModal>
  </div>
</template>

<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";
import { ModelSelect } from "vue-search-select";
export default {
  name: "AddEvent",
  mixins: [ajaxCallMixin, localDb],
  components: {
    ModelSelect,
  },
  data() {
    return {
      fixedToasts:0,
      settingsModal: false,
      disabled: false,
      testListDisabled: true,
      centerListDisabled: true,
      scheme: {},
      tp: {},
      centerList: {},
      center: {},
      skill: {},
      candidateTest: {},
      assessorTest: {},
      assessor: {},
      eventDate: "",
      eventName: "",
      fields: {},
      skillList: [],
      schemeList: [],
      assessorList: [],
      tpList: [],
      cutoffList:[],
      cutoff:0,
      assessorTestList: [],
      candidateTestList: [],
      state: "",
      isFormValid: false,
      showModal: false,
      message: "",
      stateList: [],
      offFocus: false,
      advanceSettingList: [
        { label: "Video Proctoring", key: "vidProctor" },
        { label: "Image Proctoring", key: "imgProctor" },
        { label: "Geo Location", key: "geoLocation" },
      ],
      advanceSetting: {
        vidProctor: "1",
        imgProctor: "1",
        geoLocation: "1",
        offFocusCount: 1,
      },
      options: [
        { label: "No", value: "0" },
        { label: "Optional", value: "1" },
        { label: "Mandatory", value: "2" },
      ],
    };
  },
  computed: {
    token: function () {
      return this.getToken();
    },
    isEdit: function () {
      if (this.$route.params.eventId) {
        this.testListDisabled = false;
        this.centerListDisabled = false;
        return true;
      }
      Object.assign(this.$data, this.$options.data());
      return false;
    },
  },
  methods: {
    addEvent: function (event) {
      this.disabled = true;
      var param = {};
      var data = {};
      if (!this.offFocus) this.advanceSetting.offFocusCount = 0;
      data.advanceSetting = this.advanceSetting;
      data.schemeId = this.getSelectedValues(this.scheme);
      data.tpId = this.getSelectedValues(this.tp);
      data.skillId = this.getSelectedValues(this.skill);
      data.assessorId = this.getSelectedValues(this.assessor);
      data.centerId = this.getSelectedValues(this.center);
      data.candidateTestId = this.getSelectedValues(this.candidateTest);
      data.assessorTestId = this.getSelectedValues(this.assessorTest);
      data.state = this.getSelectedValues(this.state);
      if (data.candidateTestId == "") {
        data.candidateTestId = 0;
      }
      if (this.$route.params.eventId) {
        data.eventId = this.$route.params.eventId;
      }
      if (data.assessorTestId == "") {
        data.assessorTestId = 0;
      }
      data.eventName = this.eventName;
      data.eventDate = this.eventDate;
      var url = "event/event/addEditEvent";
      param.data = data;
      param.token = this.token;
      this.ajaxCall(url, param, this.callBackAddEvent, this.fields);
    },
    callBackAddEvent(apiResponse) {
      console.log(apiResponse);
      if (apiResponse.error != true) {
        this.disabled = false;
        this.message = apiResponse.message;
        /*this.message = this.isEdit
          ? "Changes Saved"
          : "Event has been added successfully";
        this.alertColor = "success";
        this.currentAlertCounter = 10;*/
        this.$router.push({ name: "EventList" });
      } else {
        this.disabled = false;
        this.fixedToasts++;
        this.message = apiResponse.message;
        /*this.message = this.isEdit
          ? "Error updating event details"
          : "Error adding event";
        this.alertColor = "danger";
        this.currentAlertCounter = 5;*/
      }
    },
    getAddEventDropDown() {
      var param = {};
      var eventId = this.$route.params.eventId;
      var url = "event/event/getAddEventDropDown";
      param.data = {};
      param.token = this.token;
      this.ajaxCall(url, param, this.populateList);
    },
    populateList(apiResponse) {
      if (apiResponse.error != true) {
        this.skillList = this.changeMapToSelect(apiResponse.data.skillList);
        this.schemeList = this.changeMapToSelect(apiResponse.data.schemeList);
        this.tpList = this.changeMapToSelect(apiResponse.data.tpList);
        this.assessorList = this.changeMapToSelect(
          apiResponse.data.assessorList
        );
      }
    },
    getTestList() {
      //this.testListDisabled = true;
      var param = {};
      var data = {};
      var url = "skill/skill/getSkillTestList";
      data.skillId = this.getSelectedValues(this.skill);
      param.data = data;
      param.token = this.token;
      this.ajaxCall(url, param, this.populateTestList);
    },
    populateTestList(apiResponse) {
      if (apiResponse.error !== true) {
        this.candidateTestList = this.changeMapToSelect(
          apiResponse.data.candidateTestList
        );
        this.assessorTestList = this.changeMapToSelect(
          apiResponse.data.assessorTestList
        );
        if (
          this.candidateTestList.length === 0 &&
          this.assessorTestList.length === 0
        ) {
          this.showModal = true;
        } else {
          this.testListDisabled = false;
        }
      }
    },
    getCenterList() {
      //this.centerListDisabled = true;
      var param = {};
      var data = {};
      var url = "trainingPartner/TP/getTpCenterList";
      data.tpId = this.getSelectedValues(this.tp);
      param.data = data;
      param.token = this.token;
      this.ajaxCall(url, param, this.populateCenterList);
    },
    populateCenterList(apiResponse) {
      this.centerList = this.changeMapToSelect(apiResponse.data.centerList);
      this.centerListDisabled = false;
    },
    getStateListDropDown() {
      var param = {};
      var url = "meta/state/getStateList";
      param.data = {};
      param.token = this.token;
      this.ajaxCall(url, param, this.populateStateList);
    },
    populateStateList(apiResponse) {
      if (apiResponse.error != true) {
        this.stateList = apiResponse.data.stateList.map((item) => {
          return { value: item.stateId, label: item.state };
        });
      }
    },
    getCutoffListDropDown() {
      var param = {};
      var url = "cutoff/cutoff/getCutoffList";
      param.data = {};
      param.token = this.token;
      this.ajaxCall(url, param, this.populateCutoffList);
    },
    populateCutoffList(apiResponse) {
      if (apiResponse.error != true) {
        var cutoffList = apiResponse.data.cutoffList ;
        this.cutoffList = this.changeListToSelect(cutoffList,"cutoffId","cutoffName");
      }
    },
    getEventDetails() {
      var param = {};
      var data = {};
      data.eventId = this.$route.params.eventId;
      var url = "event/event/getEventDetails";
      param.data = data;
      param.token = this.token;
      this.ajaxCall(url, param, this.populateEventDetails);
    },
    populateEventDetails(apiResponse) {
      if (apiResponse.error != true) {
        //console.log({ populateEventDetails: apiResponse.data });
        var eventDetails = apiResponse.data;
        this.eventName = eventDetails.eventName;
        this.skill = eventDetails.skillId;
        this.tp = eventDetails.tpId;
        this.scheme = eventDetails.schemeId;
        this.assessor = eventDetails.assessorId;
        this.candidateTest = eventDetails.candidateTestId;
        this.assessorTest = eventDetails.assessorTestId;
        this.center = eventDetails.centerId;
        this.state = eventDetails.state;
        this.eventDate = eventDetails.eventDate.split(" ")[0];
        if (eventDetails.advanceSetting) {
          console.log(eventDetails.advanceSetting);
          this.advanceSetting = eventDetails.advanceSetting;
          this.offFocus = !!this.advanceSetting.offFocusCount;
        }
        this.getCenterList();
        this.getTestList();
      }
    },
    getKeyValuePair(obj) {
      var advanceSetting = {};
      obj.forEach(({ key, value }) => {
        advanceSetting[key] = value;
      });
      return advanceSetting;
    },
  },
  mounted() {
    this.getAddEventDropDown();
    this.getStateListDropDown();
    this.getCutoffListDropDown();
    if (this.$route.params.eventId) {
      this.getEventDetails();
    }
  },
};
</script>