<template>
  <div>
    <CToaster :autohide="1500" position="top-center">
      <template v-for="toast in fixedToasts">
        <CToast
          :key="'toast' + toast"
          :show="true"
          class="custom-toast">
        {{message}}
        </CToast>
      </template>
    </CToaster>
    <CCard>
    <CCardHeader>
      <slot name="header">
        <CIcon name="cil-data-transfer-up"/> Upload Documents
      </slot>
    </CCardHeader>
    <CCardBody>
    <CForm @submit.prevent="addDocument()">
        <CRow alignVertical="center">
            <CCol sm="10" lg="4">
                <CInput
                    label = "Document Name"
                    required
                    placeholder = "Enter Document Name"
                    v-model = "documentName"
                />
            </CCol>
            <CCol sm="10" lg="4">
                <CSelect
                    label = "Document Type"
                    required
                    placeholder = "Select Document Type"
                    v-model = "documentType"
                    :options = "documentTypeList"
                />
            </CCol>
            <CCol sm="10" lg="4" >
                <CInputFile
                    label = "Upload File"
                    ref="fileUpload"
                    required
                    @change="handleFileUpload($event,'eventDocs')"
                    placeholder="Upload File"
                    />
            </CCol>
            <CCol sm="12" >
                <CRow alignHorizontal="center">
                 <CButton type ="submit" color="primary">Upload</CButton>
                </CRow>
            </CCol>
        </CRow>
    </CForm>
    </CCardBody>
    </CCard>
    <CCard>
    <CCardHeader>
      <slot name="header">
        <CIcon name="cil-grid"/> Document List
      </slot>
    </CCardHeader>
    <CCardBody>
        <CDataTable
         hover
        :items="documentList"
        :fields="getDocumentListHeaders()">
        <template #downloadDoc="{item,index}">
            <td class="py-2">
            <a @click="downloadDocument(item,index)">
                <CButton
                    color="primary"
                    variant="outline"
                    square
                    size="md">
                <CIcon
                    name="cilCloudDownload"
                    size="custom-size"
                    :height="20"
                />
                Download
                </CButton>
            </a>
            </td>
        </template>
        <template #deleteDoc="{item}">
            <td class="py-2">
                <!--CButton
                    color="danger"
                    variant="outline"
                    square
                    size="sm"
                >Delete
                </CButton-->
                <CLink @click="deleteDocument(item, index)" class="text-danger">
                    <CIcon
                    v-c-tooltip="{content:'Delete',
                    placement:'top'}"
                    name="cilTrash"
                    size="custom-size"
                    :height="25"
                />
            </CLink>
            </td>
        </template>

        </CDataTable>
    </CCardBody>
    </CCard>
  </div>
</template>
<script>
import { HTTP ,ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";
export default {
    name:"Documents",
    mixins: [ajaxCallMixin, localDb],
    beforeMount(){
        this.getToken();
        this.getDocumentList();
    },
    data() {
        return {
            documentName:'',
            documentType:'',
            documentList:[],
            documentTypeList:[{
                value:0,
                label:'Other'
            }],
            fixedToasts:0,
            fields:[],
            message:''
        }
    },
    methods:{
        getDocumentListHeaders(){
        return ["documentId","documentName",{"key":"downloadDoc","label":""},{"key":"deleteDoc","label":""}];
        },
        generateDocumentList(apiResponse){
            if (apiResponse.error != true) {
                this.documentList = apiResponse.data.docsList;
            }
        },
        getDocumentList(){
            var param = {};
            var eventId = this.$route.params.eventId;
            var data = { eventId: eventId };
            var url = "event/Document/getDocumentList";
            param.data = data;
            param.token = this.getToken();
            this.ajaxCall(url, param, this.generateDocumentList);
        },
        addDocument(){
            var param = {};
            var eventId = this.$route.params.eventId;
            var data = {};
            data.eventId = eventId;
            data.documentId = 0;
            data.documentName = this.documentName;
            data.documentType = this.documentType;
            var url = "event/Document/uploadDocuments";
            param.data = data;
            param.token = this.getToken();
            this.ajaxCall(url, param, this.callBackAddDocument, this.fields);
        },
        callBackAddDocument(apiResponse) {
            if(apiResponse.error != true){
                this.fixedToasts++;
                this.message =  apiResponse.message
                this.$refs.fileUpload.$el.lastElementChild.value=null;
                this.getDocumentList();
            }
        },
        downloadDocument(item,index){
            var param = {};
            var eventId = this.$route.params.eventId;
            var data = {};
            data.eventId = eventId;
            data.documentId = item.documentId;
            var url = "event/Document/downloadDocs";
            param.data = data;
            param.token = this.getToken();
            this.fileDownload(url, param);
            this.fixedToasts++;
            this.message = "Please ensure that file download is enabled"
        },
        deleteDocument(item,index){
            var param = {};
            var eventId = this.$route.params.eventId;
            var data = {};
            data.eventId = eventId;
            data.documentId = item.documentId;
            var url = "event/Document/deleteDocument";
            param.data = data;
            param.token = this.getToken();
            this.ajaxCall(url, param, this.callBackDeleteDoc);
        },
        callBackDeleteDoc(apiResponse){
            if(apiResponse.error != true){
                this.fixedToasts++;
                this.message = apiResponse.message;
                this.getDocumentList();
            }
        },
        /*getFileName(e){
            this.documentName = e[0].name;
        }*/
    }
}

</script>
<style>
.custom-toast{
    background-color: #38b138;
    color: white;
    font-weight: 800
}
</style>