<template>
  <CCard>
    <CCardHeader>
<CLink @click="downloadAssessmentCount()" class="text-warning">
              <CIcon
                v-c-tooltip="{
                  content: 'Click to download Assessment Count',
                  placement: 'top',
                }"
                name="cil-data-transfer-down"
                size="custom-size"
                :height="25"
              />
            </CLink>
    </CCardHeader>
    <CCardBody>
      <CDataTable
        hover
        :items="this.eventList"
        :fields="getEventListHeaders()"
        :items-per-page="10"
        :cleaner="true"
        :tableFilter='{ external: true, placeholder:"Search Event name" }'
        :tableFilterValue.sync="eventName"
        @update:table-filter-value="getEventList(0)"
        
      >
        <template #showCandidate="{ item, index }">
          <td class="py-2">
            <!--CButton
            color="primary"
            variant="outline"
            square
            size="sm"
            @click="showCandidateList(item, index)"
          >Show Candidates
            </CButton-->
            <CLink @click="showCandidateList(item, index)" class="text-info">
              <CIcon
                v-c-tooltip="{
                  content: 'Click to view candidates List',
                  placement: 'top',
                }"
                name="cil-people"
                size="custom-size"
                :height="25"
              />
            </CLink>
          </td>
        </template>
        <template #showDocuments="{ item, index }">
          <td class="py-2">
            <CLink @click="showDocuments(item, index)" class="text-warning">
              <CIcon
                v-c-tooltip="{
                  content: 'Click to view documents',
                  placement: 'top',
                }"
                name="cilFile"
                size="custom-size"
                :height="25"
              />
            </CLink>
          </td>
        </template>
         <template #downloadLoginExcel="{ item }">
          <td class="py-2">
            <CLink @click="getLoginExcel(item)" class="text-success">
              <CIcon
                v-c-tooltip="{ content: 'Download Login details', placement: 'top' }"
                name="cil-data-transfer-down"
                size="custom-size"
                :height="25"
              />
            </CLink>
          </td>
        </template>
        <template #downloadResult="{ item }">
          <td class="py-2">
            <CLink @click="downloadResult(item)" class="text-danger">
              <CIcon
                v-c-tooltip="{ content: 'Download result', placement: 'top' }"
                name="cil-data-transfer-down"
                size="custom-size"
                :height="25"
              />
            </CLink>
          </td>
        </template>
        <template #downloadProctoring="{ item }">
          <td class="py-2">
            <CLink @click="downloadProctoring(item)" class="text-danger">
              <CIcon
                v-c-tooltip="{ content: 'Download Proctoring', placement: 'top' }"
                name="cil-data-transfer-down"
                size="custom-size"
                :height="25"
              />
            </CLink>
          </td>
        </template>
        <template #editEvent="{ item, index }">
          <td class="py-2">
            <CLink @click="editEvent(item.eventId)" color="primary">
              <CIcon
                v-c-tooltip="{ content: 'Click to Edit', placement: 'top' }"
                name="cilPencil"
                size="custom-size"
                :height="25"
              />
            </CLink>
          </td>
        </template>
      </CDataTable>
      <CPagination
        :activePage.sync="page"
        :pages="pages"
        size="sm"
        @update:activePage="pageChanged()"
        align="start"
      />
    </CCardBody>
  </CCard>
</template>

  
<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";

export default {
  name: "EventList",
  beforeMount() {
    this.getEventList();
  },
  data() {
    return {
      eventList: [],
      page: 1,
      pages: 1,
      eventName:""
    };
  },
  mixins: [ajaxCallMixin, localDb],
  methods: {
    getEventListHeaders() {
      return [
        "eventId",
        "eventName",
        "eventDate",
        "assessorName",
        "skillName",
        { key: "showCandidate", label: "",_style: "width:1%", filter: false },
        { key: "showDocuments", label: "",_style: "width:1%", filter: false },
        { key: "downloadLoginExcel", label: "",_style: "width:1%", filter: false },
        { key: "downloadResult", label: "",_style: "width:1%", filter: false },
        { key: "downloadProctoring", label: "",_style: "width:1%", filter: false },
        { key: "editEvent", label: "",_style: "width:1%", filter: false },
      ];
    },
    generateEventList(apiResponse) {
      if (apiResponse.error != true) {
        this.eventList = apiResponse.data.eventList;
        this.pages = Math.ceil(apiResponse.data.eventCount / 10);
      }
    },
    getEventList(offset = 0) {
      var param = {};
      param.token = this.getToken();
      var data = {};
      data.offset = offset;
      data.limit = 10;
      data.searchString = this.eventName;
      var url = "event/event/getEventList";
      param.data = data;
      
      var eventList = [];
      this.ajaxCall(url, param, this.generateEventList);
    },
    showCandidateList(item, index) {
      this.$router.push("/candidates/" + item.eventId);
    },
    showDocuments(item, index) {
      this.$router.push("/documents/" + item.eventId);
    },
    downloadResult(item) {
      var param = {};
      var eventId = item.eventId;
      var data = {};
      data.eventId = eventId;
      var url = "event/result/downloadEventResult";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.callBackDownloadResult);
    },
    callBackDownloadResult(apiResponse) {
      if (apiResponse.error !== true) {
        let downloadUrl = apiResponse.data;
        let a = document.createElement("a");
        if (typeof a.download === "undefined") {
          window.location.href = downloadUrl;
        } else {
          a.href = downloadUrl;
          document.body.appendChild(a);
          a.click();
        }
      }
    },
    getLoginExcel(item) {
      var param = {};
      var eventId = item.eventId;
      var data = {};
      data.eventId = eventId;
      var url = "event/event/getEventLoginExcel";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.downloadLoginExcel);
    },
    downloadLoginExcel(apiResponse) {
      if (apiResponse.error !== true) {
        let downloadUrl = apiResponse.data.candidateList;
        let a = document.createElement("a");
        if (typeof a.download === "undefined") {
          window.location.href = downloadUrl;
        } else {
          a.href = downloadUrl;
          document.body.appendChild(a);
          a.click();
        }
      }
    },
    editEvent(eventId) {
      this.$router.push("/addEvent/" + eventId);
    },
    pageChanged() {
      var offset = 10 * (this.page - 1);
      this.getEventList(offset);
    },
    downloadAssessmentCount(){
      var param = {};
      var data = {};
      var url = "event/event/getEventCountExcel";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.downloadLoginExcel);
    },
    downloadProctoring(item){
      var param = {};
      var eventId = item.eventId;
      var data = {};
      data.eventId = eventId;
      var url = "event/event/getProctoringZip";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.downloadProctoringCallBack);
    },
    downloadProctoringCallBack(apiResponse){
       if (apiResponse.error !== true) {
        let downloadUrl = apiResponse.data.zipUrl;
          let a = document.createElement("a");
        if (typeof a.download === "undefined") {
          window.location.href = downloadUrl;
        } else {
          a.href = downloadUrl;
          document.body.appendChild(a);
          a.click();
        }
      }
        
      
    }
  },
};
</script>