<template>
  <div>
    <CRow >

        <CToaster :autohide="1500" position="top-center">
          <template v-for="toast in fixedToasts">
            <CToast :key="'toast' + toast" :show="true">
              {{ message }}
            </CToast>
          </template>
        </CToaster>
      <CForm wasValidated @submit.prevent="Rescore">
        <CRow>
          <CCol sm="10" lg="4">
            <CInput
              label="Min marks"
              required
              number
              v-model="lowerMarks"
              placeholder="Enter min marks"
            />  
          </CCol>
          <CCol sm="10" lg="4">
            <CInput
              label="Max Marks"
              required
              number
              v-model="upperMarks"
              placeholder="Enter max marks"
            />
          </CCol>

          
          <CCol sm="10" lg="4">
            <CSelect
              label="Test Type"
              required
              :value.sync="testType"
              placeholder="Test Paper Type"
              :options="[
                { value: '1', label: 'Candidate Test' },
                { value: '2', label: 'Assessor Test' },
              ]"
            />
          </CCol>
        </CRow>
        <CRow>
          <CCol col="12" class="text-center">
            <CButton type="submit" :disabled="disabled" color="success">
               Save changes
            </CButton>
          </CCol>
        </CRow>
      </CForm>
    </CRow>
   
  </div>
</template>

<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";
export default {
  name: "rescore",
  mixins: [ajaxCallMixin, localDb],
  components: {
  },
  data() {
    return {
      fixedToasts: 0,
      lowerMarks: 0,
      upperMarks: 0,
      testType: 1,
      disabled: false,
      isFormValid: false,
      message: "",
    };
  },
  computed: {
    token: function () {
      return this.getToken();
    },
  },
  methods: {
    Rescore: function (event) {
      this.disabled = true;
      var param = {};
      var data = {};
      data.eventId = this.$route.params.eventId;
      data.lowerMarks = this.lowerMarks;
      data.upperMarks = this.upperMarks;
      data.testType = this.testType;
      var url = "event/rescore/rescoreEvent";
      param.data = data;
      param.token = this.token;
      this.ajaxCall(url, param, this.callBackAddEvent, this.fields);
    },
    callBackAddEvent(apiResponse) {
      this.disabled = false;
      this.fixedToasts++;
      this.message = apiResponse.message;
    },
  },
};
</script>