<template>
  <div>
    <CCard>
      <CCardHeader>
        <slot name="header"> <CIcon name="cil-user" />Candidate Details </slot>
        <CRow>
          <CCol col="12" sm="6">
            <CCallout
              :color="
                candidateDetails.label === 'candidate' ? 'success' : 'danger'
              "
            >
              <small class="text-muted">Name</small><br />
              <strong class="h4">{{ candidateDetails.candidateName }}</strong>
            </CCallout>
          </CCol>
          <CCol col="12" sm="6">
            <CCallout
              :color="
                candidateDetails.label === 'candidate' ? 'success' : 'danger'
              "
            >
              <small class="text-muted">Email</small><br />
              <strong class="h4">{{ candidateDetails.email }}</strong>
            </CCallout>
          </CCol>
        </CRow>
      </CCardHeader>
    </CCard>
    <CTabs variant="tabs">
      <CTab title="Geo Location">
        <GeoLocation :candidateLoc.sync="computeLoc" />
      </CTab>
      <CTab title="Videos">
       <MediaDisplay mediaType="Videos" :mediaList="videoList" />
      </CTab>
      <CTab title="Images">
        <MediaDisplay mediaType="Images" :mediaList="imageList" />
      </CTab>
    </CTabs>
  </div>
</template>
<script>
import { ajaxCallMixin } from "@/components/HttpCommon";
import { localDb } from "@/components/localDb";
import GeoLocation from "./components/GeoLocation";
import MediaDisplay from "./components/MediaDisplay";
import { parse } from "@babel/core";
export default {
  name: "ProctoringData",
  mixins: [ajaxCallMixin, localDb],
  components: {
    GeoLocation,
    MediaDisplay
  },
  data() {
    return {
      videoList: [],
      imageList: [],
      candidateDetails: this.$route.query,
      longitude: 0,
      latitude: 0,
      loc:false
    };
  },
  beforeMount() {
    this.getProctoredData();
  },
  computed: {
    computeLoc() {
      if(this.loc)
        return [this.latitude, this.longitude];
      return false
    }
  },
  methods: {
    getProctoredData() {
      var param = {};
      var candidateAttemptId = this.candidateDetails.candidateTestAttemptId;
      var assessorAttemptId = this.candidateDetails.assessorTestAttemptId;
      var data = {};
      data.testAttemptId =
        this.candidateDetails.label === "candidate"
          ? candidateAttemptId
          : assessorAttemptId;
      var url = "test/proctoring/getProctoringData";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.loadProctoredData);
    },
    loadProctoredData(apiResponse) {
      if (apiResponse.error !== true) {
        this.videoList = apiResponse.data.videoProctoring; //video data
        this.imageList = apiResponse.data.imageProctoring; //image data
        let coordinates = apiResponse.data.geoLocation[0].geoLocation; // coordinates
        if (coordinates) {
          this.loc = true;
          this.longitude = coordinates.longitude;
          this.latitude = coordinates.latitude;
        }
      }
    }
  }
};
</script>