<template>
  <div>
    
        <!--CAlert
          :color="alertColor"
          :show.sync="currentAlertCounter"
          closeButton
        >
          {{ message }}
          <CProgress
            :max="10"
            :value="currentAlertCounter"
            height="3px"
            :color="alertColor"
            animate
          /> </CAlert
      -->
        <CToaster :autohide="1500" position="top-center">
          <template v-for="toast in fixedToasts">
            <CToast :key="'toast' + toast" :show="true">
              {{ message }}
            </CToast>
          </template>
        </CToaster>
      <CForm wasValidated @submit.prevent="addEditCutoff()">
        <h1 class="text-center">Add Test Paper</h1>
        <p class="text-muted text-center">
          Kindly verify all details before submitting
          
        </p>
        <CRow align-vertical="center">
          <CCol sm="10" lg="4">
            <CInput
              label="Test Cutoff name"
              v-model="cutoffName"
              required
              placeholder="Enter Cutoff name"
            />
          </CCol>

          <CCol sm="10" lg="4">
            <CSelect
              label="Cut off Type"
              required
              v-model="cutoffType"
              placeholder="Cutoff Type"
              :options="[{ value: '1', label: 'overall' }]"
            />
          </CCol>
          <CCol sm="10" lg="4">
            <CInput
              label="Passing marks"
              required
              number
              v-model="passmarks"
              placeholder="Enter Passing marks"
            />
          </CCol>
        </CRow>

        <CRow>
          <CCol col="12" class="text-center">
            <CButton type="submit" :disabled="disabled" color="success"
              >Create Cutoff</CButton
            >
          </CCol>
        </CRow>
      </CForm>
  </div>
</template>

<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";

export default {
  name: "Add Cutoff",
  mixins: [ajaxCallMixin, localDb],

  data() {
    return {
      disabled: false,
      test: {},
      testType: {},
      skill: {},
      fields: {},
      cutoffName: "",
      fixedToasts: 0,
      skillList: [],
      passmarks:0,
      message: "",
      alertColor: "info",
    };
  },
  computed: {
    token: function() {
      return this.getToken();
    },
  },
  methods: {
    addEditCutoff() {
      this.disabled = true;
      var param = {};
      var data = {};
      data.cutoffName = this.cutoffName;
      data.cutoffType = this.getSelectedValues(this.cutoffType);
      data.cutoff = {};
      data.cutoff["threshold"] = {};
      data.cutoff["statusList"] = ["Pass","Fail"];
      data.cutoff["threshold"][0] = this.passmarks;
      data.cutoff["threshold"][1] = 0;
      var url = "cutoff/cutoff/addEditCutoff";
      param.data = data;
      param.token = this.token;
      this.ajaxCall(url, param, this.callBackAddEditCutoff, this.fields);
    },
    callBackAddEditCutoff(apiResponse) {
      this.fixedToasts++;
      this.message = "Cutoff successfully created";
      this.disabled = false;
    },
  
  },
  beforeMount() {
  },
};
</script>
>
