<template>
  <div>
    <CRow>
      <CCol sm="12">
        <CCard>
          <template>
            <CCardHeader>
              <CRow alignHorizontal="end">
                <CCol col="6" class="text-right">
                  <CForm @submit.prevent ="addTrainingPartner()" wasValidated>
                    <CInput
                      label="Tp name"
                      required
                      v-model="tpName"
                      horizontal
                      placeholder="Enter Tp name"
                    >
                      <template #append>
                        <CButton type="submit" :disabled="disabled" color="success">Add Tp</CButton>
                      </template>
                    </CInput>
                  </CForm>
                </CCol>
              </CRow>
            </CCardHeader>
            <CCardBody>
              <CDataTable
                :items="items "
                :fields="fields"
                column-filter
                :items-per-page="20"
                hover
                sorter
                striped
                fixed
                pagination
              >
                <template #show_details="{item}">
                  <td class="py-2">
                    <CButton
                      color="primary"
                      variant="outline"
                      square
                      size="sm"
                      @click="currentTp = item;getCenterList();"
                    >Show</CButton>
                  </td>
                </template>
              </CDataTable>
            </CCardBody>
          </template>
        </CCard>
      </CCol>
    </CRow>

    <CModal :title="modalTitle" size="lg" :show.sync="centerModal">
      <CForm @submit.prevent ="addCenter()" wasValidated>
        <CRow alignHorizontal="end">
          <CCol col="6">
            <CInput
              required
              label="Center Name"
              v-model="centerName"
              horizontal
              placeholder="Enter center name"
            />
          </CCol>
          <CCol col="6">
            <CInput label="Phone" required v-model="phone" horizontal placeholder="Enter phone" />
          </CCol>
        </CRow>
        <CRow alignHorizontal>
          <CCol col="6">
            <CInput
              required
              label="Address"
              v-model="address"
              horizontal
              placeholder="Enter Address"
            />
          </CCol>
          <CCol col="6">
            <CInput required label="City" v-model="city" horizontal placeholder="Enter City">
              <template #append>
                <CButton type="submit" :disabled="disabled" color="success">Add Center</CButton>
              </template>
            </CInput>
          </CCol>
        </CRow>
      </CForm>

      <CDataTable
        :items="centerItems"
        :fields="centerFields"
        column-filter
        :items-per-page="20"
        hover
        sorter
        striped
        fixed
        bordered
        pagination
      ></CDataTable>
    </CModal>
  </div>
</template>
  

<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";
const items = [{}];
const centerItems = [{}];
const fields = [
  { key: "tpName", _style: "width:20%" },

  {
    key: "show_details",
    label: "",
    _style: "width:1%",
    sorter: false,
    filter: false
  }
];
const centerFields = [
  { key: "centerName", _style: "width:20%" },
  { key: "phone", _style: "width:20%" },
  { key: "city", _style: "width:20%" },
  { key: "address", _style: "width:40%" }
];
export default {
  name: "Training partner List",
  mixins: [ajaxCallMixin, localDb],
  beforeMount() {
    this.getTpList();
  },
  data() {
    return {
      items: items.map((item, id) => {
        return { ...item, id };
      }),
      fields,
      centerFields,
      centerItems,
      tpName: "",
      details: [],
      centerModal: false,
      disabled: "false",
      currentTp: {},
      collapseDuration: 0
    };
  },
  methods: {
    generateTpList(apiResponse) {
      if (apiResponse.error != true) {
        var tpList = apiResponse.data.tpList;
        this.items = tpList.map((item, id) => {
          return { ...item, id };
        });
      }
    },
    getTpList() {
      var param = {};
      var data = {};
      var url = "trainingPartner/TP/getTrainingPartnerList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateTpList);
      this.disabled = false;
    },
    getCenterList() {
      var item = this.currentTp;
      this.modalTitle = item.tpName + "- centers";
      var param = {};
      var data = {};
      var url = "trainingPartner/TP/getTrainingPartnerDetails";
      data.tpId = item.tpId;
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateCenterList);
      this.currentTp = item;
      this.centerModal = true;
    },
    generateCenterList(apiResponse) {
      if (apiResponse.error != true) {
        var centerList = apiResponse.data.centerList;
        this.centerItems = centerList.map((item, id) => {
          return { ...item, id };
        });
      }
      this.disabled = false;
    },
    addTrainingPartner() {
      this.disabled = true;

      var param = {};
      var data = {};
      data.tpName = this.tpName;
      var url = "trainingPartner/TP/addEditTrainingPartner";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.getTpList);
    },
    addCenter() {
      this.disabled = true;
      var param = {};
      var data = {};
      data.centerName = this.centerName;
      data.address = this.address;
      data.phone = this.phone;
      data.city = this.city;
      data.tpId = this.currentTp.tpId;
      var url = "trainingPartner/TP/addEditCenter";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.getCenterList);
    }
  }
};
</script>