<template>
  <div>
    <CRow>
      <CCol>
        <!--CAlert color="success" :show.sync="currentAlertCounter" closeButton>
          {{message}}
          <CProgress :max="10" :value="currentAlertCounter" height="3px" color="success" animate />
        </CAlert-->
        <CToaster :autohide="1500" position="top-center">
          <template v-for="toast in fixedToasts">
            <CToast :key="'toast' + toast" :show="true">
              {{ message }}
            </CToast>
          </template>
        </CToaster>
      </CCol>
    </CRow>
    <CRow col="12">
      <CCol col="12">
        <CForm class="text-center" wasValidated @submit.prevent="addSkill()">
          <p class="text-muted text-center">
            Kindly verify all details before submitting
          </p>
          <CRow>
            <CCol sm="10" lg="4">
              <CInput
                label="Skill name"
                required
                horizontal
                v-model="skillName"
                placeholder="Enter Skill name"
              />
            </CCol>
            <CCol sm="10" lg="4">
              <CInput
                label="Qp Code"
                required
                v-model="qpCode"
                horizontal
                placeholder="Enter Qp code"
              ></CInput>
            </CCol>
            <CCol sm="10" lg="4">
              <CSelect
                label="Sector"
                v-model="sector"
                horizontal
                required
                placeholder="Select Sector"
                :options="sectorList"
              />
            </CCol>
          </CRow>

          <CRow>
            <CCol col="12" class="text-center">
              <CButton type="submit" :disabled="disabled" color="success"
                >Add Skill</CButton
              >
            </CCol>
          </CRow>
        </CForm>
      </CCol>
    </CRow>
  </div>
</template>

<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";
export default {
  name: "AddSkill",
  mixins: [ajaxCallMixin, localDb],
  data() {
    return {
      disabled: false,
      skillName: "",
      sectorList: [],
      sector: [],
      fixedToasts: 0,
    };
  },
  computed: {
    token: function () {
      return this.getToken();
    },
  },
  methods: {
    addSkill() {
      this.disabled = true;
      var param = {};
      var data = {};
      data.skillName = this.skillName;
      data.qpCode = this.qpCode;
      data.sectorId = this.getSelectedValues(this.sector);
      var url = "skill/skill/addEditSkill";
      param.data = data;
      param.token = this.token;
      this.ajaxCall(url, param, this.callBackAddEditSkill);
    },
    callBackAddEditSkill(apiResponse) {
      this.fixedToasts++;
      this.message = "Skill has been added";
      this.disabled = false;
      this.$emit("added");
    },
    getAddEventDropDown() {
      var param = {};
      var assessorId = this.$route.params.assessorId;
      var url = "sector/sector/getSectorMap";

      param.data = {};
      param.token = this.token;
      this.ajaxCall(url, param, this.populateList);
    },
    populateList(apiResponse) {
      if (apiResponse.error != true) {
        this.sectorList = this.changeMapToSelect(apiResponse.data.sectorMap);
      }
    },
  },
  beforeMount() {
    this.getAddEventDropDown();
  },
};
</script>