<template>
  <div>
  <div style="text-align:right">
  <CButton
      @click="addSkillModal = true"
      color="primary"
      class="addSkill-btn">
      <CIcon name="cibAddthis"/> Add Skill
    </CButton>
    <CModal
      title="Add Skill"
      size="lg"
      :show.sync="addSkillModal">
      <AddSkill @added="getSkillList"/>
      <div slot="footer-wrapper"></div>
    </CModal>
  </div>
    <CRow>
      <CCol sm ="12">
      <CCard>
        <template>
          <CCardBody>
            <CDataTable
              :items="items "
              :fields="fields"
              column-filter
              :items-per-page="20"
              hover
              sorter
              striped
              fixed
              bordered
              pagination
            >
            </CDataTable>
          </CCardBody>
        </template>
      </CCard>

      </CCol>
    </CRow>
  </div>
</template>
  

</template>
<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";
import AddSkill from "./AddEditSkill"
const items = [{}];
const fields = [
  { key: "skillName", _style: "width:40%" },
  { key:"sector",_style:"width:30"},
  { key: "qpCode", _style: "width:20%" },

  
];
export default {
  name: "AdvancedTables",
  mixins: [ajaxCallMixin, localDb],
  components:{
    AddSkill
  },
  beforeMount(){
    this.getSkillList();
 },
  data() {
    return {
      addSkillModal:false,
      items: items.map((item, id) => {
        return { ...item, id };
      }),
      fields,
      details: [],
      collapseDuration: 0
    };
  },
  methods: {

    generateSkillList(apiResponse) {
      if (apiResponse.error != true) {
        this.items = apiResponse.data.skillList;
      }
    },
    getSkillList() {
      var param = {};
      var data = {  };
      data.limit = 0;
      var url = "skill/skill/getSkillList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateSkillList);
    },
    toggleDetails(item) {
      this.$set(this.items[item.id], "_toggled", !item._toggled);
      this.collapseDuration = 300;
      this.$nextTick(() => {
        this.collapseDuration = 0;
      });
    }
  }
};
</script>
<style>
.addSkill-btn {
  margin-bottom:1rem;
}

</style>