<template>
  <CCard>
    <CCardHeader>
      <slot name="header">
        <CIcon name="cil-location-pin" />Candidate Location
      </slot>
    </CCardHeader>
    <CCardBody>
      <div class="mt-3" v-if="candidateLoc">
        <l-map style="height: 250px" :zoom.sync="zoom" :center.sync="getCenter">
          <l-tile-layer :url="url"></l-tile-layer>
          <l-marker :lat-lng="candidateLoc">
            <l-icon
              :icon-size="dynamicSize"
              :icon-anchor="dynamicAnchor"
              :icon-url="require('@/assets/marker.png')"
            >
            </l-icon>
          </l-marker>
        </l-map>
      </div>
      <div v-else>
        <CAlert color="primary"> Not available</CAlert>
      </div>
    </CCardBody>
  </CCard>
</template>
<script>
import leaflet from "leaflet";
import { LMap, LTileLayer, LMarker, LIcon } from "vue2-leaflet";
import "leaflet/dist/leaflet.css";
export default {
  name: "GeoLocation",
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LIcon,
  },
  props: ["candidateLoc"],
  data() {
    return {
      url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      zoom: 16,
      iconSize: 48,
    };
  },
  computed: {
    dynamicSize() {
      return [this.iconSize, this.iconSize * 1.15];
    },
    dynamicAnchor() {
      return [this.iconSize / 2, this.iconSize * 1.15];
    },
    getCenter() {
      return this.candidateLoc;
    },
  },
};
</script>









