<template>
  <div>
    <CCard body-wrapper>
      <CCallout color="info">
        <small class="text-muted">Total {{ mediaType }}</small
        ><br />
        <strong class="h4">{{ mediaList.length }}</strong>
      </CCallout>
      <CDataTable
        hover
        :items="this.mediaList"
        :fields="getTableHeaders"
        :items-per-page="10"
      >
        <template #media="{ item, index }">
          <td class="py-2">
            <CButton
              color="primary"
              variant="outline"
              @click="showModal(item, index)"
            >
              <CIcon :name="mediaType==='Videos'?'cil-media-play':'cil-image-1'" size="custom-size" :height="25" />
              View
            </CButton>
          </td>
        </template>
      </CDataTable>
    </CCard>
    <CModal :title="mediaTitle" siz="lg" :show.sync="mediaModal">
      <CEmbed
        v-if="mediaType == 'Videos'"
        tag="div"
        aspect="16by9"
        :src="mediaUrl"
        type="video"
        frameborder="0"
        controls
        allow="accelerometer;autoplay; encrypted-media; gyroscope; picture-in-picture"
      />
      <CImg v-else :src="mediaUrl" block class="mb-2" />
      <div slot="footer-wrapper"></div>
    </CModal>
  </div>
</template>
<script>
export default {
  name: "MediaDisplay",
  props: {
    mediaType: String,
    mediaList: Array,
  },
  data() {
    return {
      mediaTitle: "",
      mediaUrl: "",
      mediaModal: false,
    };
  },
  methods:{
    showModal(item, index) {
      this.mediaUrl = item.filePath;
      this.mediaTitle = item.timeStamp;
      this.mediaModal = true;
    },
  },
  computed: {
    getTableHeaders() {
      return [
        { key: "timeStamp", label: "Time Stamp", filter: false },
        { key: "media", label: this.mediaType, filter: false },
      ];
    },
    
  },
};
</script>
