<template>
  <div>
    <CRow alignHorizontal="end">
      <CCol col="6" class="text-right">
        <CForm @submit.prevent ="addScheme()" wasValidated>
          <CInput
            label="Scheme name"
            v-model="schemeName"
            horizontal
            required
            placeholder="Enter Scheme name"
          >
            <template #append>
              <CButton type="submit" :disabled="disabled" color="success">Add Scheme</CButton>
            </template>
          </CInput>
        </CForm>
      </CCol>
    </CRow>
    <CRow>
      <CCol sm="12">
        <CCard>
          <template>
            <CCardBody>
              <CDataTable
                :items="items "
                :fields="fields"
                column-filter
                :items-per-page="20"
                hover
                sorter
                striped
                fixed
                bordered
                pagination
              ></CDataTable>
            </CCardBody>
          </template>
        </CCard>
      </CCol>
    </CRow>
  </div>
</template>
  

</template>
<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";
const items = [{}];
const fields = [{ key: "schemeName", _style: "width:20%" }];
export default {
  name: "Scheme List",
  mixins: [ajaxCallMixin, localDb],
  beforeMount() {
    this.getSchemeList();
  },
  data() {
    return {
      items: items.map((item, id) => {
        return { ...item, id };
      }),
      fields,
      details: [],
      schemeName: "",
      collapseDuration: 0
    };
  },
  methods: {
    generateSchemeList(apiResponse) {
      if (apiResponse.error != true) {
        this.items = apiResponse.data.schemeList;
      }
    },
    getSchemeList() {
      var param = {};
      var data = {};
      var url = "scheme/scheme/getSchemeList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateSchemeList);
    },
    toggleDetails(item) {
      this.$set(this.items[item.id], "_toggled", !item._toggled);
      this.collapseDuration = 300;
      this.$nextTick(() => {
        this.collapseDuration = 0;
      });
    },
    addScheme() {
      this.disabled = true;
      var param = {};
      var data = {};
      data.schemeName = this.schemeName;
      var url = "scheme/scheme/addEditScheme";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.getSchemeList);
      this.schemeName;
    }
  }
};
</script>