<template>
  <div>
    <CRow alignHorizontal="end">
      <CCol col="6" class="text-right">
        <CForm @submit.prevent ="addSector()" wasValidated>
          <CInput
            required
            label="Sector name"
            v-model="sectorName"
            horizontal
            placeholder="Enter Sector name"
          >
            <template #append>
              <CButton type="submit" :disabled="disabled" color="success">Add Sector</CButton>
            </template>
          </CInput>
        </CForm>
      </CCol>
    </CRow>
    <CRow>
      <CCol sm="12">
        <CCard>
          <template>
            <CCardBody>
              <CDataTable
                :items="items "
                :fields="fields"
                column-filter
                :items-per-page="20"
                hover
                sorter
                striped
                fixed
                bordered
                pagination
              ></CDataTable>
            </CCardBody>
          </template>
        </CCard>
      </CCol>
    </CRow>
  </div>
</template>
  

</template>
<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";
const items = [{}];
const fields = [{ key: "sectorName", _style: "width:20%" }];
export default {
  name: "Sector List",
  mixins: [ajaxCallMixin, localDb],
  beforeMount() {
    this.getSectorList();
  },
  data() {
    return {
      items: items.map((item, id) => {
        return { ...item, id };
      }),
      fields,
      details: [],
      collapseDuration: 0
    };
  },
  methods: {
    generateSectorList(apiResponse) {
      if (apiResponse.error != true) {
        this.items = apiResponse.data.sectorList;
      }
    },
    getSectorList() {
      var param = {};
      var data = {};
      var url = "sector/sector/getSectorList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateSectorList);
    },
    toggleDetails(item) {
      this.$set(this.items[item.id], "_toggled", !item._toggled);
      this.collapseDuration = 300;
      this.$nextTick(() => {
        this.collapseDuration = 0;
      });
    },
    addSector() {
      this.disabled = true;
      var param = {};
      var data = {};
      data.sectorName = this.sectorName;
      var url = "sector/sector/addEditSector";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.getSectorList);
      this.sectorName;
    }
  }
};
</script>