<template>
  <div class="root">
  <router-view></router-view>
  <CSpinner v-if="loading" class="spinner-pos" color="primary"/>
  </div>
</template>

<script>
import {HTTP} from './components/HttpCommon.js'
export default {
  name: 'App',
  data(){
    return {
      loading:false
    }
  },
  mounted() {
    this.enableSpinner();
  },
  methods:{
    enableSpinner(){
      HTTP.interceptors.request.use((config)=>{
        this.loading = true;
        return config
      },(error)=>{
        this.loading = false;
        return Promise.reject(error)
      })

      HTTP.interceptors.response.use((response)=>{
        this.loading = false;
        return response
      },(error)=>{
        this.loading = false;
        return Promise.reject(error)
      })
    }
  }
}
</script>

<style lang="scss">
  // Import Main styles for this application
  @import 'assets/scss/style';
</style>
