<template>
  <CRow>
    <CCol class="b-1">
        <!--CAlert
      color="success"
      :show.sync="currentAlertCounter"
      closeButton
    >{{message}}
      <CProgress
        :max="10"
        :value="currentAlertCounter"
        height="3px"
        color="success"
        animate
      />
    </CAlert-->
    <CToaster :autohide="1500" position="top-center">
      <template v-for="toast in fixedToasts">
        <CToast
          :key="'toast' + toast"
          :show="true">
        {{message}}
        </CToast>
      </template>
    </CToaster>
      <CCardGroup>
        <CCard class="p-4">
          <CCardHeader>
            <slot name="header">
              <CIcon name="cil-envelope-closed" />Send mail
            </slot>
          </CCardHeader>
          <CCardBody>
            <CForm>
              <CRow>
                <CCol col="12">
                  <CInput v-model="toEmail" 
                  required placeholder="To email" />
                </CCol>
                <CCol col="12">
                  <CInput v-model="bccEmail" placeholder="bcc email" />
                </CCol>
                <CCol col="12">
                  <CInput required v-model="subject" placeholder="Subject " />
                </CCol>
              </CRow>
              <CRow>
                <CCol>
                  <quill-editor
                    ref="quillEditor"
                    class="editor"
                    required 
                    v-model="content"
                    :options="editorOption"
                    @blur="onEditorBlur($event)"
                    @focus="onEditorFocus($event)"
                    @ready="onEditorReady($event)"
                  />
                </CCol>
              </CRow>
              <CRow class="mt-5">
                <CCol sm="10" lg="4">
                  <CInputFile
                    label="Attachments"
                    ref="file"
                    @change="handleFileUpload($event,'attachments')"
                    placeholder="Upload attachments"
                  />
                </CCol>
              </CRow>
              <CRow>
                <CCol col="6" class="text-right">
                  <CButton @click="sendmail()" color="primary" size="lg"
                    :disabled = "disabled"
                   class="px-4"><CIcon name="cil-paper-plane"></CIcon> Send mail</CButton>
                </CCol>
              </CRow>
            </CForm>
          </CCardBody>
        </CCard>
      </CCardGroup>
    </CCol>
  </CRow>
</template>
<style scoped>
</style>
<script>


import 'quill/dist/quill.core.css' 
import "quill/dist/quill.snow.css";

// You can also register Quill modules in the component
import Quill from "quill";
import {ajaxCallMixin} from '../../components/HttpCommon'
import {localDb} from '../../components/localDb'

export default {
  data() {
    return {
      fixedToasts: 0,
      disabled: false,
      debug: "info",
      content: "",
      fields:{},
      toEmail:"",
      attachments:[],
      bccEmail:"",
      subject:"",
      editorOption: {
        placeholder: "Enter Mail",
        theme: "snow"
        // Some Quill options...
      }
    };
  },
   mixins: [ajaxCallMixin,localDb],
  methods: {
      sendmail (){
          this.disabled = true;
        var param = {}
        param.token = this.getToken();
        var data = {}
        data.toEmail = this.toEmail;
        data.bcc = this.bcc;
        data.subject = this.subject;
        data.message = this.content;
        var url = 'notification/notify/sendmail'
        param.data = data
        var eventList = [];
        this.ajaxCall(url, param,this.callBackSendMail,this.fields);
        
      },
      callBackSendMail(apiResponse) {
      this.fixedToasts++;
      this.message = "Mail has been sent";
      this.disabled = false;
    },
  },
  computed: {
    editor() {
      return this.$refs.myQuillEditor.quill;
    }
  },
  mounted() {
    console.log("this is current quill instance object", this.editor);
  }
};
</script> 